<!DOCTYPE html>
<html lang="en", dir="ltr">
<head>
    <meta charset='utf-8'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,400&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <style>
      *{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        }
      .sidebar{
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 260px;
          background: #11101d;
          }
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxs-coffee-bean'></i>
          <span class="logo_name">
                Coding labs
          </span>
        </div>
    </div>

    
</body>
</html>